html {
    background-color: rgba(185, 158, 179, 0.526);
}

body {
    margin: 0 auto;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}

header {
    display: flex;
    margin: 25px auto;
    place-content: center;
    font-size: 24pt;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    word-spacing: 12;
    letter-spacing: -1;
    color: navy;
}

#home {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

nav {
    display: flex;
    margin: 10px auto;
    padding-block: 5px;
    place-content: center;
    justify-content: space-evenly;
    font-size: 18pt;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: maroon;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

.nav-link {
    padding-inline: 50px;
    border-inline: 2px solid whitesmoke;
}

.nav-link:hover {
    cursor: pointer;
    background-color: brown;
}

.code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

main {
    text-align: center;
    margin-inline: 20%;
    margin-top: 50px;
}

#todo-container {
    display: block;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 40px;
    border: 1px slategray dotted;
    border-radius: 10px;
    line-height: 1.5;
}

#todo-list {
    text-align: left;
}

#todo-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

section {
    display: block;
    width: 800px;
    min-height: 50px;
    margin: 35px auto;
    padding: 20px;
    padding-bottom: 40px;
    border: 1px slategray dotted;
    border-radius: 10px;
}

table {
    margin: 0 auto;
    width: 700px;
    border-collapse: collapse;
    border: 2px solid darkslategray;
    line-height: 1.2;
    word-spacing: 1.1;
}

table tr:nth-child(even) {
    background-color: rgba(255, 234, 234, 0.582);
}
  
table tr:nth-child(odd) {
    background-color: rgba(252, 223, 227, 0.478);
}

table caption {
    margin-bottom: 10px;
    font-size: 20pt;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    word-spacing: 12;
    letter-spacing: -1;
    color: navy;
}

table th {
    border-bottom: 2px solid darkslategray;
    background-color: maroon;
    color: whitesmoke;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    height: 40px;
}

table tr {
    border-bottom: 1px solid darkslategray;
    text-align: center;
    min-height: 30px;
}

table td {
    padding: 15px;
}

table .description {
    width: 320px;
    border-left: 1px dashed darkslategray;
    border-right: 1px dashed darkslategray;
}

footer {
    margin-top: 50px;
    min-height: 50px;
    vertical-align: middle;
    align-content: center;
    background-color: navy;
    color: whitesmoke;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "GRAD" 0,
      "XOPQ" 96,
      "XTRA" 468,
      "YOPQ" 79,
      "YTAS" 750,
      "YTDE" -203,
      "YTFI" 738,
      "YTLC" 514,
      "YTUC" 712;
}